PORT=3000
SUPABASE_PROJECT_URL=https://your-project-ref.supabase.co
SUPABASE_PUBLISHABLE_KEY=your-supabase-publishable-key
BLOB_READ_WRITE_TOKEN=vercel_blob_read_write_token
MAILGUN_API_KEY=your-mailgun-api-key
MAILGUN_DOMAIN=your-mailgun-domain
MAILGUN_FROM_EMAIL=sender@your-mailgun-domain
MAILGUN_BASE_URL=https://api.mailgun.net


# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.vbgqvlmrkctbodiudfkc:[YOUR-PASSWORD]@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.vbgqvlmrkctbodiudfkc:[YOUR-PASSWORD]@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres"

